# Rust
**/*.rs.bk
target/
**/*.pdb

# Node.js
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# misc
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# Substrate
chain/target/
chain/node/target/
chain/runtime/target/
chain/pallets/*/target/

# Docker
.docker/
docker-compose.override.yml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
*.local 